<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>layout</title>
        <style>
            h3 {
                background-color: silver;
                padding: 8px;
            }
            div.user {
                border: 1px dotted silver;
                margin: 8px;
                padding: 8px;
            }
        </style>
    </head>
    <body>
        <h1>
            {% block title %}
            {% endblock %}
        </h1>
        <div>
            {% block contents %}
            {% endblock %}
        </div>
    </body>
</html>